 #a1 { font-size:12px; color:red; font-family:돋움     }
 #a2 { font-size:25px; color:blue; font-weight:bold; font-family:고딕     }
 #a3 { font-size:30px; color:skyblue; font-family:궁서     }
 #a4 { font-size:20px; color:green; font-style:italic;     }
 