
	.board {
	    position:relative;
		top:40px;
		vertical-align:middle;
		text-align:center;
		}
	.wrap {
		width:1000px;
		height:600px;
		}
	
	header {
		width:1000px;
		height:100px;
		background:red;
		}
	nav {
		padding-top:16px;
		width:1000px;
		height:50px;
		background:#ffffcc;
		}
	aside {
		float:left;
		width:150px;
		height:400px;
		background:green;
		}
	section {
		width:1000px;
		height:400px;
		background:beige;
		}
	footer {
		width:1000px;
		height:50px;
		background:skyblue;
		}
	a {
		text-decoration:none;
		}
		
	ul li {
		font-size:12px;
		color:#555555;
		background-color:#e8ebff;
		float:left;
		line-height:30px;
		vertical-align:middle;
		text-align:center;
		width:150px;
		list-style:none;
		border:1px solid #ffffff;
		}
	ul {
		margin:0 auto;
		padding-left:0px;
		}
	
	.outer {
		display:flex;
		}
	table {
		border:1px solid #cccccc;
		width:600px;
		border-collapse:collapse;
		}
	th,td {
		border:1px solid #cccccc;
		}
